<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRM - Histórico de alterações</title>
    <link rel="stylesheet" href="../styles/common-style.css">
    <link rel="stylesheet" href="../styles/changelog-crm.css">
    <script src="../scripts/changelog-crm.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <div id="changelog">
    <h1>Histórico de alterações</h1>
        <!-- https://www.w3schools.com/howto/howto_js_accordion.asp -->
        <div class="changelogDesc">
            <h3>Versão 2 - 03/10/2022 02:15:33</h3>
            <div class="changelogDescContent">
                <p>Adicionado o campo "Nome" no cadastro de clientes.</p>
            </div>
        </div>
        <div class="changelogDesc">
            <h3>Versão 1 - 01/10/2022 02:15:33</h3>
            <div class="changelogDescContent">
                <p>Versão inicial.</p>
            </div>
        </div>
    </div>
</body>
</html>