<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRM - Cadastro de requerimento</title>
    <link rel="stylesheet" href="common-style.css">
    <link rel="stylesheet" href="criar-crm.css">
    <script src="criar-crm.js" defer></script>
</head>
<body>
    <div id="cadastro">
        <h2>Cadastro do Requerimento de Mudança</h2>
        <form action="">
            <label>Descrição:</label>
            <textarea id="descricao" name="descricao" rows="2" cols="100" placeholder="Insira uma frase que resuma a ideia central do requerimento. Exemplo: aceitar bandeiras internacionais de cartão de crédito (American Express)"></textarea><br><br>
            <label>Objetivo:</label>
            <textarea id="objetivo" name="objetivo" rows="8" cols="100" placeholder="Insira aqui o objetivo do requerimento. Exemplo: o objetivo deste requerimento é a aceitação de operadoras de cartão de crédito estrangeiras na loja virtual"></textarea><br><br>
            <label>Justificativa:</label>
            <textarea id="justificativa" name="justificativa" rows="32" cols="100" placeholder="Insira aqui a justificativa para a realização deste requerimento. Exemplo: com o aumento do número de clientes de fora do Brasil, há a necessidade de aceitação de bandeiras estrangeiras de cartões de crédito nas compras online no site da Quero-Quero, afim de refletir um aumento nas vendas para clientes estrangeiros..."></textarea><br><br>
            <label>Comportamento off-line:</label>
            <textarea id="compOffline" name="compOffline" rows="32" cols="100" placeholder="Insira aqui qual o comportamento deste requerimento quando a loja estiver off-line"></textarea><br><br>
            <label>Data de conclusão prevista (opcional): </label>
            <input type="date" id="dataTermino"><br><br>
            <label>Setores envolvidos:</label>
            <select id="setor">
                <option value="" disabled selected>Selecione um setor a ser adicionado</option>
                <option value="Mercantil">Mercantil</option>
                <option value="Financeiro">Financeiro</option>
                <option value="RH">Recursos Humanos</option>
            </select>
            <button type="button" id="addSetor" onclick="includeSetor()">Adicionar setor</button><br><br>
            <label>Documentos anexados:</label>
            <input type="file" id="anexo" multiple><br><br>
            <input type="submit" id="cancelar" value="Cancelar">
            <input type="submit" id="enviar" value="Cadastrar">
        </form>
    </div>
</body>
</html>