<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRM - Cadastro de requerimento</title>
    <link rel="stylesheet" href="common-style.css">
    <link rel="stylesheet" href="criar-crm.css">
    <script src="criar-crm.js" defer></script>
</head>
<body>
    <div id="cadastro">
        <h2>Cadastro do Requerimento de Mudança</h2>
        <form action="">
            <textarea id="descricao" name="descricao" rows="2" cols="100" placeholder="Descrição do requerimento"></textarea><br><br>
            <textarea id="objetivo" name="objetivo" rows="8" cols="100" placeholder="Objetivo do requerimento"></textarea><br><br>
            <textarea id="justificativa" name="justificativa" rows="32" cols="100" placeholder="Justificativa do requerimento"></textarea><br><br>
            <label>Data de conclusão prevista (opcional): </label>
            <input type="date" id="dataTermino"><br><br>
            <select id="setor">
                <option value="" disabled selected>Selecione um setor a ser adicionado</option>
                <option value="Mercantil">Mercantil</option>
                <option value="Financeiro">Financeiro</option>
                <option value="RH">Recursos Humanos</option>
            </select>
            <button type="button" id="addSetor" onclick="includeSetor()">Adicionar setor</button><br><br>
            <label>Documentos anexados:</label>
            <input type="file" id="anexo" multiple><br><br>
            <input type="submit" id="cancelar" value="Cancelar">
            <input type="submit" id="enviar" value="Cadastrar">
        </form>
    </div>
</body>
</html>