<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ocorreu um erro na autenticação</title>
    <link rel="stylesheet" href="common-style.css">
    <link rel="stylesheet" href="facaLogin.css">
</head>
<body>
    <div>
        <h1>Ocorreu um erro na verificação de suas credenciais. Faça o login novamente!</h1>
    </div>
    <div>
        <a href="/login"><h2>Voltar para a página de login</h2></a>
    </div>
</body>
</html>