<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRM - Login</title>
    <link rel="stylesheet" href="common-style.css">
    <link rel="stylesheet" href="login.css">
    <script src="login.js" defer></script>
</head>
<body>
    <div id="loginSquare">
        <div id="formDiv">
            <h1>Faça o login para<br>acessar a plataforma</h1>
            <form action="/login" method="POST">
                <input type="text" name="matricula" placeholder="Matrícula"><br>
                <input type="password" name="senha" placeholder="Senha"><br>
                <input type="submit" value="Entrar" id="submit">
            </form>    
        </div>
    </div>
</body>
</html>