<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRM - Tela inicial</title>
    <link rel="stylesheet" href="common-style.css">
    <link rel="stylesheet" href="tela-inicial.css">
    <script src="tela-inicial.js" defer></script>
</head>
<body>
    <h1></h1>
    <div id="divPesquisa">
        <form action="/dadosCRM" method="get">
            <input type="text" name="id" placeholder="Pesquisar por CRM">
            <input type="submit" value="Pesquisar">
        </form>
    </div>
    <div id="colunasCRM">
        <div id="pendentes" class="colunaCRM">
            <h3>PENDENTES</h3>
            <div class="crm">
                <p>Inclusão de PIX</p>
                <span class="crmDates">
                    <p>Abertura em 01/10/2022</p>
                    <p>Última versão: 2 (03/10/2022)</p>
                </span>
                <p>Responsável: Luigi Paschoalino</p>
                <a href="/infoCRM"><p class="crmDetails">Mais detalhes</p></a>
            </div>
        </div>
        <div id="aprovados" class="colunaCRM">
            <h3>APROVADOS</h3>
            <div class="crm">
                <p>Inclusão de PIX</p>
                <span class="crmDates">
                    <p>Abertura em 01/10/2022</p>
                    <p>Última versão: 2 (03/10/2022)</p>
                </span>
                <p>Responsável: Luigi Paschoalino</p>
                <p class="crmDetails">Mais detalhes</p>
            </div>
        </div>
        <div id="arquivados" class="colunaCRM">
            <h3>ARQUIVADOS</h3>
            <div class="crm">
                <p>Inclusão de PIX</p>
                <span class="crmDates">
                    <p>Abertura em 01/10/2022</p>
                    <p>Última versão: 2 (03/10/2022)</p>
                </span>
                <p>Responsável: Luigi Paschoalino</p>
                <p class="crmDetails">Mais detalhes</p>
            </div>
        </div>
    </div>
</body>
</html>