#changelog{
    background-color: whitesmoke;
    width: 70vw;
}

h1{
    text-align: center;
    color: black;
}

.changelogDesc{
    display: block;
    align-self: center;
    background-color: rgb(80, 80, 80);
    padding-left: 10px;
    padding-right: 10px;
}