@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import '../assets/font-awesome-4.7.0/css/font-awesome.min.css';

body{
    background-color: rgb(37, 37, 37);
    color: white;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}