h2{text-align: center;}

textarea{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 7px;
    font-size: large;
    resize: none;
    width: 100%;
}

#cadastro{text-align: center;}

#enviar{
    background-color: rgb(32, 114, 0);
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

#cancelar{
    background-color: rgb(156, 0, 0);
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

#addSetor{
    background-color: rgb(214, 214, 214);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(17, 17, 17);
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 20px;
}

#addSetor:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(214, 214, 214);
}

#cancelar:hover{background-color: rgb(220, 0, 0);}

#enviar:hover{background-color: rgb(0, 220, 0);}

@media screen and (max-width: 600px) {
    #cadastro{
        width: 90%;
    }
}
