#infoCRM{
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    width: 80vw;
    font-size: 110%;
}

#botoesCriador{
    display: flex;
    flex-direction: column;
}

#infoCRM #infoCRM-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

button, input[type="submit"]{
    margin: 10px;
    padding: 10px;
    background-color: rgb(100, 100, 100);
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    color: white;
    font-weight: bold;
}

textarea{
    width: 100%;
    resize: none;
    font-size: large;
}

table{
    margin: auto;
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
    background-color: rgb(47, 47, 47);
}

th, td{
    border: 1px solid black;
    padding: 0.5rem;
    text-align: center;
}

a{
    color: rgb(66, 148, 255);
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}

.texto{
    background-color: whitesmoke;
    color: black;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    font-weight: bold;
    width: 100%;
    text-align: justify;
}